/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* # SECTION FAQ */

#faq .accordion-item > label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#faq .accordion-item > input[type='checkbox'],
#faq .accordion-item > input[type='checkbox'] ~ .accordion-item-content,
#faq .accordion-item > input[type='checkbox'] ~ label > .accordion-item-open-icon,
#faq .accordion-item > input[type='checkbox']:checked ~ label > .accordion-item-close-icon {
  display: none;
}

#faq .accordion-item > input[type='checkbox']:checked ~ .accordion-item-content,
#faq .accordion-item > input[type='checkbox']:checked ~ label > .accordion-item-open-icon,
#faq .accordion-item > input[type='checkbox'] ~ label > .accordion-item-close-icon {
  display: block;
}

/* # DEBUG */

.debug,
.debug * {
  background-color: lightgrey;
  border: 2px dashed black;
  padding: 10px;
  min-height: 50px;
}
